main h1 {
    display: block;
    margin: right;
}

header h1 {
    display: none;
}

/* Membership Form */
.membership-form {
    max-width: 600px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.membership-form h2 {
    text-align: center;
    margin-bottom: 1rem;
    color: #333;
}

.membership-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #555;
}

.membership-form input,
.membership-form select,
.membership-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.membership-form textarea {
    height: 100px;
    resize: vertical;
}

.membership-form input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.membership-form input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Membership Cards */
.membership-cards {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    max-width: 800px;
    margin: 3.5rem auto;
}

.card {
    width: 250px;
    padding: 1.5rem;
    background: white;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 1rem;
    /* Animation for the cards */
    transition: transform 0.3s ease, opacity 1s ease-in-out;

}

.card.show {
    opacity: 1;
    transform: translateY(0);
}

.card a {
    display: inline-block;
    margin-top: 0.5rem;
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
}

.card a:hover {
    text-decoration: underline;
    transform: scale(1.05);
}

@media (min-width: 768px) {
    .membership-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }
    
    .cards-container {
        flex-direction: column;
        margin-left: 2rem;
    }
}

/* Modals */
/* Modal Background */
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

/* Modal Content */
.modal-content {
    background: white;
    padding: 1.5rem;
    border-radius: 8px;
    width: 90%;
    max-width: 400px;
    text-align: center;
    position: relative;
}

/* Close Button */
.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 1.5rem;
    cursor: pointer;
}